@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  margin: 0px;
  background-color: rgb(216, 243, 216);
  font-family: 'Lato', sans-serif;
}
/***HEADER****/
header div{
  display: flex;
  flex-direction: row;
  margin: auto 10px;
}
header h1:nth-of-type(1){
  flex-grow: 1;
  color: rgb(12, 39, 12);
  font-weight: bold;
  font-size: 2rem;
}
header{
  background-color: rgb(83, 198, 83);
}
/****HEADER BUTTON***/
header button{
  background-color: rgb(25, 77, 51);
  color:rgb(159, 224, 191);
  padding: 0 1%;
  margin: 7px;
  font-size: 1.5rem;
}
header button:hover{
  background-color: rgba(25, 77, 51, 0.7);
  color:rgb(18, 59, 39);
  padding: 0 1%;
}

/****CONTAINER***/
.container h1{
  text-align: center;
}
/****FORM***/
.fom{
  margin-left: 30%;
  font-size: 1.5rem;
  color: rgb(6, 20, 6);
  font-weight: bold;
}
input, textarea{
  width: 50%;
  border-radius: 4px;
  margin: 2px 0;
  box-sizing: border-box;
  background: rgba(230, 230, 255, 0.5)
}
.fom button{
  background-color:rgb(51, 77, 77);
  font-size: 1.5rem;
  margin: 1% 1%;
  border-radius: 5%;
  color: rgb(240, 245, 245);
  padding: 1.5%;
}
/****BOTTOM BUTTON***/
.btn button[type="submit"]{
   margin: 2% 1%;
  font-size: 1.5rem;
    background-color:rgb(0, 51, 0);
  border-radius: 5%;
  padding: 0.5% 1%;
  color: rgb(204, 255, 204);
}
.btn button[type="reset"]{
   margin: 2% 1%;
  font-size: 1.5rem;
    background-color:rgb(128, 0, 0);
  border-radius: 5%;
  padding: 0.5% 1%;
  color: rgb(204, 255, 204);
}
.btn button[type="submit"]:hover{
 background-color:rgba(0, 51, 0, 0.5); 
}
.btn button[type="reset"]:hover{
 background-color:rgb(230, 46, 0); 
  color: white;
}

