/***GENERAL ****/

@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  background-color: rgb(216, 243, 216);
  font-family: 'Lato', sans-serif;
}
.container{
  text-align: center;
  flex-direction: row-reverse; 
  flex-wrap: wrap; 
  justify-content: center;
}

div, form{
  margin: 2% .5%;
  padding: 2%;
}
button{
  background-color: rgb(25, 77, 51);
  color:rgb(159, 224, 191);
  padding:  1%;
  margin: 7px;
  font-size: 1.5rem;
}

button:hover{
  background-color: rgba(25, 77, 51, 0.7);
  color:rgb(18, 59, 39);
  padding: 1%;
}
/***HEADER***/
header {
  margin: 10PX 10px;
  padding: .5%;
}
header h1:nth-of-type(1){
  flex-grow: 1;
  color: rgb(12, 39, 12);
  font-weight: bold;
  font-size: 2rem;
}
header{
  background-color: rgb(83, 198, 83);
}
 /***LOGIN FORM***/
.login-form{
  background: rgb(138, 219, 138);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
/****INPUT BOX****/
input{
  width:50%;
  border-radius: 4px;
  margin: 2px 0;
  box-sizing: border-box;
  background: rgba(230, 230, 255, 0.5)
}
/***TEXT***/
h1{
  font-family:  'Lato', sans-serif;
  color:rgb(26, 26, 26)
}
label{
  font-family:'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}